{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="page-title">Movies for {{ mood }} Mood {{ emojis[mood] }}</h2>
    <p class="result-desc">Recommended in {{ language }} {% if language2 %}and {{ language2 }}{% endif %} 🍿🎬✨</p>

    <div class="movie-grid">
        {% for movie in movies %}
        <div class="movie-card">
          <!--- <img src="{{ url_for('static', filename='posters/' + movie.poster) }}" class="poster">-->
            <h3>{{ movie.title }} 🎬</h3>
            <p><strong>Genre:</strong> {{ movie.genre }}</p>
            <p><strong>Rating:</strong> ⭐ {{ movie.rating }}</p>
            <p>{{ movie.description }}</p>
        </div>
        {% endfor %}
    </div>

    <div style="text-align:center; margin-top:30px;">
        <a href="{{ url_for('home') }}" class="btn">⬅ Back to Home</a>
    </div>
</div>
{% endblock %}
